.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.form-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-height: 300px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 30%;
    background-color: #fff;
    padding: 1rem;
    margin-top: 5%;
    border-radius: 20px;
    box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 1024px) {
    .formulario {
      width: 40%;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .formulario {
      width: 50%;
    }
  }
  
  @media only screen and (max-width: 481px) {
    .formulario {
      width: 80%;
    }
  }